:root {
    --primary: #f98330;
    --light-bg: #fff3e4;
    --text-dark: #333;
    --border: #e5e5e5;
    --radius: 12px;
    --shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

body{
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial, sans-serif;
}

/* HEADER */
.header {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-bg);
}
.logo {
    font-size: 32px;
    font-weight: bold;
    color: var(--primary);
}
.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn {
    padding: 12px 25px;
    background: var(--primary);
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.small-btn {
    padding: 8px 18px;
    font-size: 14px;
}

.phone {
    background: #fff;
    padding: 8px 12px;
    border-radius: 20px;
    border: 1px solid #ddd;
    margin-top: 10px;
}



/* HERO SECTION */
.hero {
    display: flex;
    padding: 30px 40px;
    /* background: var(--light-bg); */
    flex-wrap: wrap;
}
.hero-left {
    flex: 1;
    position: relative;
}
.hero-img {
    width: 100%;
    height: 100%;
}
.hero-text-card {
    position: absolute;
    bottom: 20px;
    left: 10px;
    padding: 20px;
    background: white;
    border-radius: 6px;
    max-width: 300px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}

/* FORM CARD */
.form-card {
    flex: 0.6;
    background: #ffe9d3;
    padding: 30px;
    min-width: 320px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}
.form-card-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border-radius: 30px;
    border: none;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary);
}
.captcha-box {
    display: flex;
    border-radius: 30px;
    overflow: hidden;
}
.captcha-box input {
    width: 70%;
    border-radius: 0;
}
.captcha-value {
    width: 20%;
    background: #3a2a1a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

@media (min-width: 750px) and (max-width: 900px) {
  .form-card {
    margin-top: 150px;
}
}  

/* RESPONSIVE (Mobile) */
@media (max-width: 900px) {
    .hero {
        flex-direction: column;
    }
    .form-card {
        width: 100%;
    }
}
@media (max-width: 600px) {
    .header {
        flex-direction: column;
        gap: 15px;
    }
}
.carousel{
    display: flex;
    overflow-x: auto;
    width: 100%;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.group{
    display: flex;
    gap: 10px;
    animation: spin 30s infinite linear;
    padding-right: 10px;
    background-color: var(--light-bg);
}

.stat-box{
    margin: 10px 0px;
    display: flex;
    gap: 3px;
    flex-direction: row;
    width: 220px;
}


@keyframes spin{
    from {translate: 0;}
    to {translate: -100%;}
}

.count{
    color: var(--primary);
    font-weight: bold;
}

.choose-us {
    text-align: center;
    padding: 50px 40px;
}

.choose-title {
    font-size: 28px;
    font-weight: bold;
}

.choose-sub {
    margin-top: 8px;
    color: #555;
}

.choose-container {
    margin-top: 40px;
    gap: 40px;
    display: flex;
    flex-direction: row;
}

@media (max-width: 785px) {
    .choose-container{
        display: flex;
        flex-direction: column-reverse;
    }
}

.choose-left{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.choose-left div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 300;
}

.plus-sign{
    color: var(--primary);
    font-size: 16px;
    font-weight: bold;
}

.choose-img img {
    width: 100%;
    border-radius: 16px;
    height: 100%;
}

/* Happy clients */
.testimonials {
    padding: 40px;
    text-align: center;
}

.test-title {
    font-size: 28px;
    font-weight: bold;
}

.test-sub {
    color: #555;
    margin-bottom: 30px;
}

/* Individual patient card */
.card {
    background: white;
    width: 180px;
    height: 250px;
    margin: 0 10px;
    border-radius: 14px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
    padding-bottom: 10px;
}

.card img {
    width: 100%;
    height: 72%;
    object-fit: cover;
    border-radius: 14px 14px 0 0;
}

.card h3 {
    margin-top: 6px;
    font-size: 13px;
    font-weight: 400;
}

.city {
    color: gray;
    font-size: 12px;
}

.tag {
    color: #ff7a1c;
    font-weight: 400;
    margin-top: 3px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .slide-track {
        animation: scroll 25s linear infinite;
    }
}

@media (max-width: 480px) {
    .test-title {
        font-size: 22px;
    }

    .card {
        min-width: 240px;
        height: 350px;
    }

    .slide-track {
        width: calc(240px * 12);
        animation: scroll 20s linear infinite;
    }
}



/* Frequently Asked questions */
.faq-section {
    padding: 50px 40px;
}

.faq-title {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 40px;
}

.faq-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.faq-column {
    flex: 1;
    min-width: 320px;
}

.faq-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.faq-item p {
    font-size: 16px;
    color: #333;
}

.plus {
    font-size: 22px;
    color: #ff8f32;
    font-weight: bold;
}

.faq-item:hover p {
    color: #ff8f32;
}

/* Footer */


.clove-footer {
    background: #4a2a1e;       /* Dark brown */
    color: #fff;
    padding: 40px 50px 25px;
    font-family: Arial, sans-serif;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* LEFT LOGO */
.footer-logo {
    font-size: 32px;
    color: #ff8f32;
    margin: 0;
    font-weight: bold;
}

.footer-logo .smile {
    color: #ff8f32;
}

.footer-sub {
    letter-spacing: 4px;
    margin-top: 4px;
}

/* CENTER LINE */
.footer-line {
    flex: 1;
    height: 1px;
    background: #bdaaa0;
    margin: 0 40px;
}

/* RIGHT SIDE LINKS */
.footer-right {
    display: flex;
    gap: 25px;
}

.footer-right a {
    color: #e6ddd9;
    text-decoration: none;
    font-size: 14px;
}

.footer-right a:hover {
    color: #ff8f32;
}

/* BOTTOM TEXT */
.footer-bottom {
    text-align: center;
    color: #e6ddd9;
    margin-top: 25px;
    font-size: 13px;
}

/* RESPONSIVE FOOTER */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .footer-line {
        width: 100%;
        margin: 15px 0;
    }

    .footer-right {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .footer-logo {
        font-size: 26px;
    }

    .footer-right a {
        font-size: 13px;
    }

    .footer-bottom {
        font-size: 12px;
    }
}
